<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">UpSwing App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- Conditional Add Data link -->
      <button type="button" class="btn btn-primary" routerLink="/add-data" routerLinkActive="active" *ngIf="isActive('/read-data')">Add Data</button>
      
      <!-- Conditional Read Data link -->
      <button type="button" class="btn btn-primary" routerLink="/read-data" routerLinkActive="active" *ngIf="isActive('/add-data')">Read Data</button>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
